$font: "Roboto", sans-serif;

$color-brand-blue: #152649;

$color-white-bg: #f9f9f9;
$color-green: #cdda32;
$color-social-background: #e9e9e9;
$color-text-footer-title: #333;
$color-header-text: #7e7e7e;
$color-text-light: #999;
$color-brand-green-hover: #acb90c;
$color-brand-blue-ui: #313892;
$color-alert-info: #e5f6ff;
$color-alert-warning: #ffc;
$color-sidebar-background: #f9f9f9;
$color-text-description: rgba(21, 38, 73, 0.64);
$color-form-border: #ced2d7;
$color-brand-white: #fff;
